.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.btcPrice{
  font-size: 10px;
}

.bitwalla{
  text-decoration: none;
}

.App-link {
  color: #3b626d;
}

 .NavbarNewGhest * {
  margin: 0 5px;
 }

 .productDetails{
   color: #282c34;
 }

@mixin try ($color) {
  text-decoration: none;
  transition:all 0.8s;
  &:active {
    text-decoration: none;
    color: $color;
   }
}


 .brand {
   text-decoration: none;   
   text-align: start;
   $color: rgb(54, 54, 65);
   font-size: 25px;
   margin-bottom: -0.5rem;
   @include try($color);      
   color: white; 
 }

 .wallet {
   color: #282c34;
 }

 .wallet input:focus {
    outline-width: 0;
 }

 .wallet input {
  border: none;
}

.wallet {
  margin-top: 5vh;  
}

.walletBalance {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wallet .btn {
  background-color: rgb(51, 91, 131); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.wallet .btn:hover {
  background-color: RoyalBlue;
}



 .downArrow{
  border: #282c34;
  background: #282c34;
 }

 .downArrow:hover{
  border: #3b626d;
  background: #3b626d;
 }

 .profileContent{
  min-height: 100vh;
   color: black;
   text-decoration: none;
 }

 .profileTop {
  min-height: 17vh;
    padding: 30px;
    margin: 2px;
 }

 .profileTop img {
   border-radius: 50px;
   float: right;
    max-width: 80px;
    max-height: 80px;
 }

 .profileTop h1 {
  float: left;
}
