.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #3b626d;
}

 .NavbarNewGhest * {
  margin: 0 5px;
 }

 .profileContent{
  min-height: 100vh;
   color: black;
   text-decoration: none;
 }

 .profileTop {
  min-height: 17vh;
    padding: 30px;
    margin: 2px;
 }

 .profileTop img {
   border-radius: 50px;
   float: right;
    max-width: 80px;
    max-height: 80px;
 }

 .profileTop h1 {
  float: left;
}

.profileItems {
}